
* {
    margin: 0;
    padding: 0;
}
/* 一页盒子的尺寸 */
.all {
    margin: 0 auto;
    background-color: #ffffff;
    width: 100%;
    height: 3000px;
}
/* 顶部盒子的尺寸 */
.head {
    width: 100%;
    /* 左边界-1是干啥的 */
    margin-left: -1px;
    height: 155px;
}
/* 头部导航栏的尺寸 */
.daohanglan {
    width: 1800px;
    height: 100px;
    position: fixed;
    top: 0px;
}
/* logo */
.logo {
    width: 140px;
    height: 65px;
    display: inline-block;
    top:-90px;
    left: 80px;
    position: relative;
    z-index: 1;
    float: none;
}
/* 左侧导航栏位置 */
.daohanglan-zuo {
    display: inline-block;
    position: relative;
    left: 40px;
    top: -12px;
}
/* 左侧导航栏标签特性 */
.daohanglan-zuo li {
    display: inline-block;
    list-style: none;
}
/* 左侧导航栏标签位置 */
.daohanglan-zuo li a {
    /* 文本下划线种类 */
    text-decoration: none;
    color: #f7f7f7;
    font-size: 13px;
    display: inline-block;
    font-weight: 550;
    letter-spacing: 1px;
}
/* 下载图标的大小 */
.daohanglan ul li a img {
    width: 16px;
    height: 16px;
    display: inline-block;


}
/* 搜索框 */
.sousuokuang {
    width: 500px;
    height: 40px;
    background-color: #dadadb;
    /* 不透明度 */
    opacity: 0.9;
    /* 圆角边框 */
    border-radius: 9px;
    display: inline-block;
    position: relative;
    top: 15px;
    left: 130px;
}
/* 搜索框鼠标悬停反馈 */
.sousuokuang:hover {
    background-color: #ffffff;

}
/* 搜索框中文字输入区 */
.sousuokuang form {
    width: 446px;
    height: 38px;
    padding-left: 4px;
    padding-right: 48px;
}

.xiake12 {
    position: absolute;
    z-index: 5;
    top: 60px;
    left: 260px;
    width: 380px;
    height: 200px;
    display: none;
    background-color: #ffffff;
    border-radius: 20px;
}

.xiake1 {
    width: 180px;
    height: 180px;
    display: inline-block;
    border-right: 1px solid #94979c;
}

.xiake2 {
    float: right;
    width: 180px;
    height: 180px;
    display: inline-block;
}

.xiake12 p {
    font-size: 13px;
    color: black;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.xiake12 h1 {
    font-size: 11px;
    color: #94979c;
    font-weight: 300;
    text-align: center;
}

.xiake12 img {
    display: inline-block;
    margin-left: 30px;
    margin-top: 10px;
}

.xiake12 h2 {
    font-size: 11px;
    color: #94979c;
    font-weight: 300;
    text-align: center;
}

.lijixiazai {
    width: 80px;
    height: 30px;
    background-color: #00aeec;
    color: white;
    font-size: 14px;
    line-height: 30px;
    text-align: center;
    border-radius: 10px;
    margin-left: 54px;
}

.manhua12 {
    background-color: #ffffff;
    display: none;
    position: absolute;
    top: 57px;
    left: 126px;
    width: 400px;
    height: 220px;
    z-index: 5;
}

.manhua1 {
    display: inline-block;
    width: 250px;
    height: 220px;
}

.manhua1 img {
    width: 250px;
    height: 220px;
}

.manhua2 {
    float: right;
    display: inline-block;
    width: 145px;
    height: 220px;
}

.manhua2 h1 {
    color: black;
    font-size: 20px;
    font-weight: 400;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
}

.manhua12 h2 {
    color: #7e8792;
    font-size: 13px;
    font-weight: 400;
    margin-top: 5px;
    margin-left: 10px;
}
/* 搜索框的位置 */
.shurukuang {
    width: 427px;
    height: 28px;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 1px;
    margin-right: 1px;
    margin-top: 2px;
    margin-bottom: 2px;
}
/* 搜索框中输入框的特性 */
.shurukuang input {
    /* 取消边框 */
    outline: none;
    width: 400px;
    height: 30px;
    background-color: #dadadb;
    opacity: 0.9; 
    border:0;
    padding-right: 8px;
    padding-left: 9px;
    margin-top: 3px;
    margin-left: 1px;
    border-radius: 5px;

}

/* 鼠标在搜索框悬停的反应 */
.shurukuang input:hover {
    background-color: #ffffff;
    border: 0;
}
/* 搜索小图标盒子的属性 */
.sousuo-tubiao {
    width: 16px;
    height: 16px;
    display: inline-block;

}
/* 搜索小图标的位置 */
.sousuo-tubiao img {
    display: inline-block;
    width: 16px;
    height: 16px;
    position: relative;
    left: 455px;
    top: -21px;
}
/* 右侧用户区盒子位置 */
.daohanglan-you {
    width: 511px;
    height: 50px;
    display: inline-block;
    position: relative;
    left: 200px;
}
/* 用户区行内盒子 */
.daohanglan-you ul li {
    display: inline-block;

}
/* 用户区各标签盒子的大小 */
.daohanglan-you ul li a {
    text-decoration: none;
    display: inline-block;
    width: 50px;
    height: 39px;
}
/* 用户区图标 */
.daohanglan-you ul li a img {
    width: 20px;
    height: 20px;
    display: block;
    margin-left: 2px;
}
/* 右侧用户区文字 */
.daohanglan-you ul li a span {
    color: #ffffff;
    font-weight: 550;
    font-size: 10px;
}

.container {
    padding-left: 60px;
    padding-right: 60px;
    width: 1400px;
    height: 3722px;
}

.tuozhan1 {
    position: absolute;
    width: 188px;
    height: 176px;
    background-color: #ffffff;
    border-radius: 10px;
    top: 5px;
    left: 225px;
    display: none;
}



.tuozhan1 a {
    text-decoration: none;
    color: #3f3f41;
    font-size: 13px;
}

.tuozhan1 a:hover {
    background-color: #e3e5e7;
}

.tuozhan1_a1 {
    display: inline-block;
    width: 90px;
    height: 40px;
    line-height: 40px;
    text-align: center;
}

.tuozhan1_a2 {
    display: block;
    width: 90px;
    height: 40px;
    line-height: 40px;
    /* text-align: center;  注释 */
    margin-left: 20px;
}

.tuozhan2 {
    position: absolute;
    width: 188px;
    height: 176px;
    background-color: #ffffff;
    border-radius: 10px;
    top: 5px;
    left: 284px;
    display: none;
}

.tuozhan2 a {
    text-decoration: none;
    color: #3f3f41;
    font-size: 13px;
}

.tuozhan3 {
    position: absolute;
    width: 188px;
    height: 176px;
    background-color: #ffffff;
    border-radius: 10px;
    top: 5px;
    left: 457px;
    display: none;
}

.tuozhan3 a {
    text-decoration: none;
    color: #3f3f41;
    font-size: 13px;
}

.tuozhan4 {
    position: absolute;
    width: 188px;
    height: 176px;
    background-color: #ffffff;
    border-radius: 10px;
    top: 5px;
    left: 534px;
    display: none;
}

.tuozhan4 a {
    text-decoration: none;
    color: #3f3f41;
    font-size: 13px;
}

.tuozhan5 {
    position: absolute;
    width: 188px;
    height: 176px;
    background-color: #ffffff;
    border-radius: 10px;
    top: 5px;
    left: 619px;
    display: none;
}

.tuozhan5 a {
    text-decoration: none;
    color: #3f3f41;
    font-size: 13px;
}

.tuozhan6 {
    position: absolute;
    width: 188px;
    height: 176px;
    background-color: #ffffff;
    border-radius: 10px;
    top: 5px;
    left: 1029px;
    display: none;
}

.tuozhan6 a {
    text-decoration: none;
    color: #3f3f41;
    font-size: 13px;
}

.tuozhan7 {
    position: absolute;
    width: 188px;
    height: 176px;
    background-color: #ffffff;
    border-radius: 10px;
    top: 246px;
    left: 472px;
    z-index: 5;
    display: none;
}

.tuozhan7 a {
    text-decoration: none;
    color: #3f3f41;
    font-size: 13px;
}

.tuozhan8 {
    position: absolute;
    width: 188px;
    height: 176px;
    background-color: #ffffff;
    border-radius: 10px;
    top: 246px;
    left: 718px;
    z-index: 5;
    display: none;
}

.tuozhan8 a {
    text-decoration: none;
    color: #3f3f41;
    font-size: 13px;
}

.tuozhan9 {
    position: absolute;
    width: 188px;
    height: 176px;
    background-color: #ffffff;
    border-radius: 10px;
    top: 246px;
    left: 1055px;
    z-index: 5;
    display: none;
}

.tuozhan9 a {
    text-decoration: none;
    color: #3f3f41;
    font-size: 13px;
}



/* 次顶部 */
.tuozhan {
    height: 110px;
    width: 1700px;
}
/* 次顶部左侧 */
.daohang-zuo {
    width: 210px;
    height: 72px;
    border-right: 8px;
    display: inline-block;
    margin-top: 20px;
    margin-left: 50px;
}

.daohang-zuo a {
    width: 46px;
    height: 72px;
    margin-right: 20px;
    text-decoration: none;
    display: inline-block;
}

.daohang-zuo a img {
    width: 46px;
    height: 46px;
    display: inline-block;
}

.daohang-zuo a span {
    width: 46px;
    height: 20px;
    display: inline-block;
    font-size: 14px;
    color: #272b34;
    text-align: center;
}
/* 次顶部中间 */
.daohang-zhong {
    width: 1180px;
    height: 66px;
    display: inline-block;
    position: relative;
    top: -6px;
    left: -55px;
}

.zhong-zuo {
    display: flex;
    display: inline-block;
    width: 910px;
    height: 66px;
    padding-right: 30px;
    justify-content: space-between;
    flex-wrap: wrap;
    border-right: 1px solid #e7e9ea;

}

.zhong-zuo a {
    text-decoration: none;
    display: inline-block;
    width: 73px;
    text-align: center;
    color: #62666e;
    border: 0.8px;
    background-color: #f6f7f8;
    letter-spacing: 2px;
    font-size: 14px;
    height: 28px;
    line-height: 26px;
    border-radius: 6px;
    margin-bottom: 10px;
    margin-right: 5px;
}

.zhong-zuo a:hover {
    background-color: #e2e4e6;
    color: black;
}

.zhong-you {
    width: 230px;
    height: 66px;
    display: inline-block;
}

.zhong-you a {
    text-decoration: none;
    display: inline-block;
    width: 70px;
    text-align: center;
    color: #61666d;
    border: 0.8px;

    letter-spacing: 2px;
    font-size: 14px;
    height: 28px;
    line-height: 26px;
    border-radius: 6px;
    margin-bottom: 10px;
    margin-right: 3px;
}

.zhong-you a:hover {
    color: #00aeec;
}

.zhuti {
    width: 1400px;
    height: 468px;
    margin-left: 50px;
}

.lunbo {
    width: 548px;
    height: 468px;
    display: inline-block;
    overflow: hidden;

}


.lunbo1 {
    width: 4932px;
    height: 438px;
    margin-bottom: 10px;

}

.lunbo1 img {
    width: 548px;
    height: 373px;
    float: left;

}


.my-shipin {
    width: 847px;
    height: 468px;
    display: inline-block;
margin-left: 5px;
    float: right;
}

.shipin {
    width: 263px;
    height: 223px;
    display: inline-block;
    margin-right: 5px;
    margin-right: 10px;
    float: left;

}

.shipin img {
    width: 264px;
    height: 149px;
    border-radius: 10px;
}

.shipin img:hover {
    color: #07b0ec;
    cursor: pointer;
}

.shipin h3 {
    width: 248px;
    height: 44px;
    padding-right: 16px;
    font-size: 14px;
    font-weight: normal;
    margin-top: 5px;
    position: relative;
    top: -35px;
}

.shipin h3:hover {
    color: #07b0ec;
    cursor: pointer;
}

.shipin>span {
    color: #9e9fa3;
    font-size: 13px;
    position: relative;
    top: -35px;

}

.shipin span:hover {
    color: #07b0ec;
    cursor: pointer;
}

.shipin-jianjie {
    width: 264px;
    height: 30px;
    position: relative;
    top: -34px;

}

.shipin-jianjie>span {
    color: #ffffff;
    display: inline-block;
    position: relative;
    top: 1px;
    left: 1px;
    font-size: 13px;
    margin-left: 2px;

}

.shipin-jianjie>img {
    width: 20px;
    height: 20px;
    display: inline-block;
    position: relative;
    top: 6px;
    left: 6px;

}

.xiafang {
    width: 1400px;
    height: 1500px;
    margin-left: 50px;
}

.gengduo-shipin {
    width: 1400px;
    height: 235px;
    margin-bottom: 25px;
}

.cebian {
    width: 40px;
    height: 180px;
    display: inline-block;
    position: fixed;
    left: 1550px;
    top: 530px;
}

.cebian button {
    width: 36px;
    height: 40px;
    padding-left: 2px;
    padding-right: 2px;
    font-size: 12px;
    display: inline-block;
    background-color: #ffffff;
    border: 1px solid #e6e8e9;
    margin-bottom: 5px;
    border-radius: 7px;
}

.cebian button:hover {
    background-color: #e3e5e7;
    cursor: pointer;

}


.dibu {
    background-color: #f6f7f8;
    width: 100%;
    height: 360px;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.dibu1 {
    width: 1400px;
    height: 86px;
    margin-bottom: 30px;
}

.dibu11 {
    width: 350px;
    height: 86px;
    display: inline-block;
    float: left;
    margin-right: 10px;
}

.dibu11>p {
    color: #a69eac;
    margin-bottom: 5px;
}

.dibu11 a {
    margin-right: 5px;
    text-decoration: none;
    font-size: 14px;
    color: #18191c;
    margin-bottom: 5px;
    display: inline-block;
}

.dibu2 {
    width: 1400px;
    height: 144px;
    padding-top: 30px;
    margin-bottom: 20px;
}

.dibu22 {
    width: 1086px;
    height: 144px;
    margin-left: 160px;
    margin-right: 160px;
}

.dibu222 {
    width: 1086px;
    height: 24px;
    font-size: 12px;
    line-height: 12px;
    color: #989aa0;
    text-align: center;
}

.dibu222 a {
    text-decoration: none;
    color: #989aa0;
}

.dibu222 a:hover {
    color: #00aeed;
}

.dibu3 {
    width: 400px;
    height: 45px;
    margin-left: 503px;
    margin-right: 503px;
}

.dibu3 img {
    width: 96px;
    height: 39px;
    margin-right: 20px;
}








html {
    overflow-x: hidden;
}


/* 导航栏固定与覆盖 */
.daohanglan {
    z-index: 1000; 
}

.daohanglan.scrolled {
    background-color: white;
    border-bottom: 1px rgb(255, 255, 255) solid;
    box-shadow: 0px 3px 3px rgba(181, 181, 181, 0.3);

}

.daohanglan.scrolled a,
.daohanglan.scrolled span {
    color: black !important;
}

.icon-dahuiyuan{
    content: url("../images/大会员白.png");
}
.icon-dahuiyuan.scrolled-icon{
    content: url("../images/大会员黑.png");
}

.icon-xiaoxi{
    content: url("../images/消息白.png");
}
.icon-xiaoxi.scrolled-icon{
    content: url("../images/消息黑.png");
}

.icon-dongtai{
    content: url("../images/动态白.png");
}
.icon-dongtai.scrolled-icon{
    content: url("../images/动态黑.png");
}

.icon-shoucang{
    content: url("../images/收藏白.png");
}
.icon-shoucang.scrolled-icon{
    content: url("../images/收藏黑.png");
}

.icon-lishi{
    content: url("../images/历史白.png");
}
.icon-lishi.scrolled-icon{
    content: url("../images/历史黑.png");
}

.icon-dengpao{
    content: url("../images/灯泡白.png");
}
.icon-dengpao.scrolled-icon{
    content: url("../images/灯泡黑.png");
}

.icon-xiazai{
    content: url("../images/下载白.png");
}
.icon-xiazai.scrolled-icon{
    content: url("../images/下载黑.png");
}

.daohanglan.scrolled .tougao {
    color: white !important;
}



/* JavaScript出现的覆盖 */
.tuozhan1,.tuozhan2,.tuozhan3,.tuozhan4,.tuozhan5,.tuozhan6,.tuozhan7,.tuozhan8,.tuozhan9{
    z-index: 2000;
}


.btn {
    color: white;
    position: absolute;
    bottom: 10px;
    width: 30px;
    height: 30px;
    background-color: rgb(209, 209, 209,0.5);
    text-align: center;
    line-height: 30px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 25%;
    z-index:10;
}
.btn:hover{
    scale: 1.1;
    background-color: rgb(209, 209, 209,0.8);
}
.btn-left {
    top: 580px;
    left:550px;
}

.btn-right {
    top: 580px;
    left:610px;
}

.zhishidian {
    position: absolute;
    top: 600px;
    left: 140px;
    z-index: 10;
}

.dian {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: #ddd;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
}

.dian.active {
    background-color: #555;
}

#myVideo{
    width: 264px;
    height: 149px;
}

#jieshao{
    position: absolute; 
    top: 383px;
}

#jieshao1{
    position: absolute; 
    top:420px
}
#jieshao2{
    position: absolute;
    top: 460px; 
}